@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 4%);
    height: 100vh;
    font-family: "Roboto", serif;
}
.container{
    position: relative; 
    width: 375px;
    min-width: 320px;  
    background-color: hsl(0, 0%, 100%);
    height: inherit;
}
.first img{
    height: 20%
}
.second{
    height: 60%;
    position: relative;
    padding: 0em 2em 0 2em;
}
h1,p,ul{
    padding-top: 0.5em;
}
h1{
    color: hsl(234, 29%, 20%);
}
p ul li{
    color: hsl(235, 18%, 26%);
    font-weight: 400;
}
.container .second ul{
    list-style-image: url(./assets/images/icon-success.svg);
    padding:  0.5em 0em 2em 2em;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    gap: 0.5em;
}
input{
    height: 2.5em;
    padding: 0.2em;
    border-radius: 0.5em;
    border: 1px solid hsl(231, 7%, 60%);
}
button{
    color: hsl(0, 0%, 100%);
    background-color: hsl(234, 29%, 20%);
    border: none;
    height: 3em;
    cursor: pointer;
    border-radius: 0.5em;
    font-weight: 700;
}
.success{
    position: absolute;
    bottom: 0em;
    height: 100%;
    background-color: hsl(0 , 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.dismiss-btn{
    padding-bottom: -10em;
    width: 100%;
    height: 5em;
}

@media (min-width: 768px){
    body{
        background-color: hsl(234, 29%, 20%);
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        width: 650px;
        height: 450px;
        border-radius: 20px;
    }
    .container .first{
        width: 50%;
        height: 100%;
    }
    .container picture img{
        position: absolute;
        width: 40%;
        height: 100%;
    }
    .second{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .success{
        bottom: 4em;
        left: 10em;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        padding: 2em;
    }
    #submit-btn:hover{
        background: linear-gradient(to right, hsl(231, 27%, 37%), hsl(4, 100%, 67%));
        box-shadow: 0 3px 8px black;
    }
    .success button{
        margin-top: 1em;
    }
    .dismiss-btn{
        height: 3em;
    }
    input:hover{
        border: 1px solid black;
        cursor: pointer;
    }
}